
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --btn:#596D48;
    --input:#E5E7EB;
    --white-color:#fdfdfd;
}

html{
    font-size: 15px;
}

body{
    font-family:  Arial, Helvetica, sans-serif;
    background-color: var(--white-color);
    margin: 0;
    padding: 0px;
}

@font-face {
    font-family: 'myfont';
    src: url('New_Rocker\NewRocker-Regular.ttf');
}

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 10px;
    display: flex;

}

.left{
    width: 40%;
    height: 100%;
    
    background-image: url('back-ground.png');
    background-position: center;
    background-size: cover;
  
  }
  .logo{
    color: var(--white-color);
    display: flex;
    
    width: 100%;
    height: 100px;
    
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    background-color:rgba(0,0,0,0.3);
    
    text-transform: uppercase;
  }
  .logo h1{
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    
  }
  .right {
    
    width: 60%;

  }
  .right> div{
width: 100%;
height: 33.3%;


  }
  .div1{
    font-size: 1.2rem;
    background: #E5E7EB;
   display: flex;
   align-items: center;

   
  }
  .content{
    margin: 50px;
  }

  .div2{
   
    box-shadow: 0 0 1px ;
  }
  form{
    
    padding: 10px 20px;
    
  }
  .sign {
   margin-top: 15px;
   width: 100%;
   
  }
  .row{
    display: flex;
   
  }
  .inner{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 5px 20px;
  }
  

input{
    border: 1px solid var(--input);
    outline: none;
    text-align: center;
}
input[type=text]:focus, input[type=email]:focus, input[type=number]:focus {
    border: 1px solid rgb(77, 77, 201);
    box-shadow: 0 1px 2px 0.1px ;
}




.spn{
    text-transform: none;
    color: red;
    display: block;
}
#cspn{
    display: none;
}

input[type=password]:invalid{
    border: 1px solid red;
}





  .div3{
   
    background:  #E5E7EB;

  }
  .submit{
    padding: 40px 50px;
  }
  .submit p{
    margin-top: 30px;
  }
  .submit button {
    padding: 10px 60px;
    background: var(--btn);
    border-radius: 10px;
    text-decoration: none; 
    border: none;
    font-size: 1.2rem;
    
  }
  .submit p{
   display: inline-block;
  }
  .submit a{
    text-decoration: none;
   padding: 5px 15px;
   background: #3346cc;
   text-transform: lowercase;
   color: #fdfdfd;
   border-radius: 20px;
  }
  @media  only screen and (max-width:600px) {
    .content{
        margin: 15px;
        align-self: self-start;
    }
  }
  @media  only screen and (max-width:700px) {
    .row{
        flex-direction: column;
        font-size: 0.8rem;
    }
}
@media  only screen and (max-width:700px) {
    .inner{
        flex-direction:row;
        margin: 3px;
       
    }
}
@media  only screen and (max-width:700px) {
    .spn{
       font-size: 0.7rem;
       
    }
}
@media  only screen and (max-width:600px) {
    .submit button{
        flex-direction: column;
        font-size: 0.9rem;
    }
}
@media  only screen and (max-width:600px) {
    form{ padding: 10px 5px;
    }
}